@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --main-color: black;
  --color-two: #1f3655;
  --color-three: #01264a;
}

body {
  color: var(--main-color);
  /* background-color: black; */
}

a:visited,
a:link {
  color: inherit;
}

/** REUSABLE QUERIES **/
.sections-padding {
  padding: 9.6rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/** TITLES **/

/** HEADINGS **/

/** MARGINS **/
.mrgn-btm-s {
  margin-bottom: 1.2rem;
}

.mrgn-btm-m {
  margin-bottom: 2rem;
}

.mrgn-btm-l {
  margin-bottom: 4rem;
}

.mrgn-btm-xl {
  margin-bottom: 6rem;
}

/** GRID **/
.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

/** FLEX **/
.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}
